dj-database-url==0.4.2
dj-pagination==2.3.2
Django==1.11.28
django-activity-stream==0.6.5
django-allauth==0.34.0
django-appconf==1.0.2
django-apptemplates==1.4
django-autocomplete-light==2.3.3
django-autofixture==0.12.1
django-autoslug==1.9.3
django-basic-authentication-decorator==0.9
django-bootstrap-form==3.4
django-bootstrap3-datetimepicker-2==2.5.0
django-braces==1.12.0
django-cors-headers==2.2.0
django-crispy-forms==1.7.2
django-cuser==2017.3.16
django-downloadview==1.9
django-extensions==2.0.7
django-filter==2.0.0
django-floppyforms==1.7.0
django-forms-bootstrap==3.1.0
django-import-export==1.0.0
django-invitations==1.9.2
django-ipware==2.1.0
django-js-asset==1.0.0
django-jsonfield==1.0.1
django-jsonfield-compat==0.4.4
django-leaflet==0.23.0
django-model-utils==3.1.1
django-modeltranslation==0.12.2
django-mptt==0.9.0
django-multi-email-field==0.5.1
django-nose==1.4.5
django-polymorphic==1.3.1
django-reversion==2.0.13
django-simple-history==1.9.0
django-storages==1.6.5
django-suit==0.2.26
django-taggit==0.22.2
django-tastypie==0.14.0
django-treebeard==4.2.1
django-utils==0.0.2
djangorestframework==3.8.0
folium==0.7.0
funcsigs==1.0.2
geojson==2.4.1
glob2==0.6
gn-gsimporter==1.0.9
gsconfig==1.0.10
gunicorn==19.7.1
httplib2==0.10.3
hyperlink==18.0.0
idna==2.6
incremental==17.5.0
inflection==0.3.1
invoke==0.22.1
ipaddress==1.0.18
jdcal==1.3
Jinja2==2.10
jsonschema==2.6.0
more-itertools==4.1.0
parse==1.8.2
parse-type==0.4.1
pathlib2==2.3.3
psutil==5.4.8
psycopg2==2.7.6.1
ptyprocess==0.6.0
py==1.5.3
pycodestyle==2.3.0
pycountry==18.5.26
pycparser==2.18
pygdal==2.2.1.5
python-dateutil==2.6.1
python-decouple==3.1
python-gnupg==0.4.1
python-memcached==1.59
python-mimeparse==1.6.0
python-openid==2.2.5
regex==2016.7.21
requests==2.20.1
requests-oauthlib==1.0.0
simplegeneric==0.8.1
simplejson==3.13.2
singledispatch==3.4.0.3
six==1.10.0
snuggs==1.4.3
splinter==0.7.7
SQLAlchemy==1.1.14
subprocess32==3.5.3
tablib==0.12.1
terminado==0.8.1
testpath==0.4.2
timeout-decorator==0.4.0
tornado==5.1.1
tqdm==4.23.3
traitlets==4.3.2
transifex-client==0.12.4
Twisted==18.9.0
typing==3.6.4
ua-parser==0.8.0
unicodecsv==0.14.1
Unidecode==0.4.19
uritemplate==3.0.0
urllib3==1.22
user-agents==1.1.0
uWSGI==2.0.17
vine==1.1.4
wcwidth==0.1.7
webencodings==0.5.1
websocket-client==0.54.0
whitenoise==4.1.3
widgetsnbextension==3.4.2
xlrd==1.1.0
xlwt==1.3.0
xmljson==0.2.0
xmltodict==0.10.2

